<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.merlin.practice.mapper.HelloMapper">

    <select id="getName" resultType="java.lang.String">
      SELECT cn_name FROM b_store s WHERE  s.store_id = 1
    </select>
</mapper>